<div id="contact">
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<p>
					<%= link_to(:root) do %>
						<i class="icon-arrow-right"></i> back to home
					<% end %>
				</p>
				<h1>oxys</h1>
				<h2>interaction design consultancy</h2>
				<p class="lead">working to get great results</p>
				<div class="brand hidden-xs">
					<a href="/"><%= render :partial => 'site/brand' %></a>
				</div>
			</div>
			<div class="col-sm-8 col-md-6 col-md-offset-1">
				<h3 class="tks">thank you!</h3>
				<p class="lead">we'll respond your request shortly.</p>
				<p>in the meantime...</p>
				<p><a class="btn btn-primary" href="http://www.jamieoliver.com/recipes/bread-recipes/basic-pizza" alt="jaime oliver pizza recipe">learn to make a great pizza!!!</a></p>
			</div>
		</div>
	</div>
</div>
