<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript">var NREUMQ=NREUMQ||[];NREUMQ.push(["mark","firstbyte",new Date().getTime()]);</script>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Título da Sua Oferta</title>

	<!-- <link rel="canonical" href="http://promo.oxys.com.br/responsive-design" /> -->

	<meta name="description" content="Prenda a atenção do visitante em poucas palavras" />
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />

	<!--[if lt IE 9]>
		<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<style rel="stylesheet">
	
	* { margin:0; padding:0; outline:none; border:none; }
	header, footer, nav, section, article, figure { display:block; }

	.clearfix:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
	* html .clearfix { zoom:1; } /* IE6 */
	*:first-child+html .clearfix { zoom:1; } /* IE7 */


	html, body { height:100%; width:100%; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size:16px;}
	#container { position:absolute;left:0;top:0;width:100%;height:100%; }

	/*responsive*/

	@media screen and (min-width: 320px) {
		.wrapper { width:100%; margin:0; overflow:hidden; position:relative; }
		#container > header {padding:16px 0;}
		#container > header div.wrapper { overflow:hidden; position:relative;display:table;}
		#container > header div.wrapper figure,
		#container > header div.wrapper div.figure {margin:0;width:100%;}
		#container > header div.wrapper figure img,
		#container > header div.wrapper div.figure img {margin:0;padding:0;width:100%;}
		#container > header div.wrapper hgroup,
		#container > header div.wrapper div.hgroup {width:100%;padding:20px 0;}
		#container > header div.wrapper hgroup h1,
		#container > header div.wrapper div.hgroup h1 {font-size:52px;line-height:0.9em;margin:0;padding:0 30px 10px;font-weight:bold;}
		#container > header div.wrapper hgroup h2,
		#container > header div.wrapper div.hgroup h2 {font-size:20px;line-height:1.1em;margin:0;padding:0 30px 0;font-weight:normal;}		
		
		#container > section {padding:0;}
		#container section div#content.left {width:100%;margin:0;}
		#container section div#content.left figure,
		#container section div#content.left div.figure {margin:0;}
		#container section div#content.left figure img,
		#container section div#content.left div.figure img {width:100%;}
		#container section div#content.left ul { list-style:none;padding:30px 30px 15px;}
		#container section div#content.left ul li { margin:0 0 15px 0; }
		#container section div#content.left ul li h3 { font-size:20px; padding:0 0 10px 0;}
		#container section div#content.left ul li p { font-size:16px; }
		
		#conversion.right {margin:0;width:100%; }
		
		#container > section div.socialfloating { display:none; }
		
		/*area de conversao*/
		#conversion header {display:block;padding:30px 30px 20px;margin:0;}
		#conversion header h2 { display:block; padding:0; margin:0 0 10px 0; font-size:20px; font-weight:bold; text-align:left; }
		#conversion header p { display:block; padding:0; margin:0 0 10px 0; font-size:16px; line-height:1.2em; }

		#conversion section {display:block;padding:30px 30px 20px; margin:0;}
		#conversion section p {display:block; padding:0 0 20px 0; margin:0; font-size:12px; line-height:1em; }
		#conversion section p.notice {font-size:12px;}
		#conversion section form {}
		#conversion section form div.field {padding:0 0 12px 0;margin:0;}
		#conversion section form div.field div { margin:0 0 5px 0; clear:both;width:100%;}
		#conversion section form input,
		#conversion section form select,
		#conversion section form textarea {vertical-align:middle;font-size:18px;padding:3px 2%;margin:0;width:96%;height:28px;line-height:20px;display:inline-block;}
		#conversion section form label {display:block;padding:0 0 5px 0; margin:0;}
		#conversion section form select {width:100%;height:36px;line-height:36px;}
		#conversion section form input {}
		#conversion section form textarea {height:104px;}
		
		#conversion section form input[type=radio],
		#conversion section form input[type=checkbox] { float: left; display: block; width: 25px; margin: 1px 0 0 0; }
		
		#conversion section form input[type=radio] {}
		
		#conversion section form input[type=radio] + label,
		#conversion section form input[type=radio] + label + label,
		#conversion section form input[type=checkbox] + label {width: auto;display: block;padding: 5px 0 4px 28px;}
		
		#conversion section form label.error { display:none !important; }
		#conversion section form input.error,
		#conversion section form textarea.error,
		#conversion section form select.error { background:#FFDDDD; }
	}
	@media screen and (min-width: 760px) {
		.wrapper { width:760px; margin:0 auto; overflow:hidden; position:relative; }
		#container > header {padding:16px 0;}
		#container > header div.wrapper { overflow:hidden; position:relative;display:table;}
		#container > header div.wrapper figure,
		#container > header div.wrapper div.figure {display:table-cell;*position:absolute;top:50%;width:33.33333%;vertical-align:middle;}
		#container > header div.wrapper figure img,
		#container > header div.wrapper div.figure img {display:block;*position:relative;top:-50%;margin:0;padding:0;width:100%;}
		#container > header div.wrapper hgroup,
		#container > header div.wrapper div.hgroup { display:table-cell;*position:absolute;top:50%;width:66.66666%;text-align:left;vertical-align:middle;}
		#container > header div.wrapper hgroup h1,
		#container > header div.wrapper div.hgroup h1 {display:block;*position:relative;top:-50%;font-size:52px;line-height:0.9em;margin:0;padding:0 0 1% 3%;font-weight:bold;}
		#container > header div.wrapper hgroup h2,
		#container > header div.wrapper div.hgroup h2 {display:block;*position:relative;top:-50%;font-size:20px;line-height:1.1em;margin:0;padding:0 0 1% 3%;font-weight:normal;}
	
		#container section div#content.left figure,
		#container section div#content.left div.figure {margin:5% 10% 0;}
		
		#container section div#content.left ul { list-style:none;padding:5% 10% 0;}
		
		#conversion.right {margin:5% 10% 10%;width:80%; }
		
		/*border radius*/
		#conversion {
		-webkit-border-radius:15px;
		-moz-border-radius:15px;
		border-radius:15px;
		}
		#conversion header {
		-webkit-border-radius:15px 15px 0px 0px;
		-moz-border-radius:15px 15px 0px 0px;
		border-radius:15px 15px 0px 0px;
		}
		#conversion section {
		-webkit-border-radius:0px 0px 15px 15px;
		-moz-border-radius:0px 0px 15px 15px;
		border-radius:0px 0px 15px 15px;
		}
	}
	@media screen and (min-width: 908px) {
		.wrapper { width:908px; margin:0 auto; overflow:hidden; position:relative; }
		#container > header {padding:16px 0;}
		#container header div.wrapper { overflow:hidden; position:relative;display:table;}
		#container header div.wrapper figure,
		#container header div.wrapper div.figure {display:table-cell;*position:absolute;top:50%;width:33.33333%;vertical-align:middle;}
		#container header div.wrapper figure img,
		#container header div.wrapper div.figure img {display:block;*position:relative;top:-50%;margin:0;padding:0;width:100%;}
		#container header div.wrapper hgroup,
		#container header div.wrapper div.hgroup { display:table-cell;*position:absolute;top:50%;width:66.66666%;text-align:left;vertical-align:middle;}
		#container header div.wrapper hgroup h1,
		#container header div.wrapper div.hgroup h1 {display:block;*position:relative;top:-50%;font-size:52px;line-height:0.9em;margin:0;padding:0 0 1% 3%;font-weight:bold;}
		#container header div.wrapper hgroup h2,
		#container header div.wrapper div.hgroup h2 {display:block;*position:relative;top:-50%;font-size:20px;line-height:1.1em;margin:0;padding:0 0 1% 3%;font-weight:normal;}
	
		#container > section {padding:2% 0 10% 0;min-height:75%;}
		#container section div#content.left {float:left;width:48%;margin:1% 1% 1% 10%;}
		#container section div#content.left figure,
		#container section div#content.left div.figure {margin:0 0 32px 0;}
		#container section div#content.left figure img,
		#container section div#content.left div.figure img {width:100%;}
		#container section div#content.left ul { list-style:none;padding:0 20px 0 0;}
		#container section div#content.left ul li { margin:0 0 16px 0; }
		#container section div#content.left ul li h3 { font-size:20px; padding:0 0 8px 0;}
		#container section div#content.left ul li p { font-size:16px; }
		
		#container section div#conversion.right {display:block;margin:1%;float:right; width:38%; }
		
		#container section div.socialfloating { display:block;position:absolute; top:1%; left:0; width:9%; }
		#container section div.socialfloating iframe { margin:0; }
		
	}

	#conversion form #error-container,
	#conversion form input,
	#conversion form select,
	#conversion form textarea {
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	}
	
	#conversion div.actions input.call_button,
	#conversion div.actions a.call_button {
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	}

	#conversion section div.actions { text-align:center; padding:16px 0 8px 0; }
	#conversion section div.actions input.call_button,
	#conversion section div.actions a.call_button {height:auto;vertical-align: middle;text-align:center;text-decoration:none;display:block;width:auto;font-weight:bold;font-size:20px;line-height:1em;padding:15px 20px 17px 20px;cursor:pointer;margin:2px auto 24px auto;}
	#conversion section div.actions input.call_button:hover,
	#conversion section div.actions a.call_button:hover {}
	#conversion section div#error-container {background:#FFDDDD;display:none;padding:16px;margin:16px 0 24px 0;}
	#conversion section div#error-container p {color:#463A33;text-align:center;font-size:16px;margin:0;padding:0;}
	#conversion section div#pay-area {padding:16px 0 0 0;}
	#conversion section div#pay-area p {font-size:16px;}

	/*colors*/
	#container > header {color:#333333; background:#ffffff;}
	#container > header div.wrapper hgroup h1 {text-shadow: 1px 1px 1px #e5e5e5;}
	#container > header div.wrapper hgroup h2 {text-shadow: 1px 1px 1px #e5e5e5;}
	#container > section {background:#eeeeee;color:#333333;}
	#conversion {background:#dddddd;}
	#conversion header {background:#35619e;}
	#conversion header h2 {color:#f2f2f2; }
	#conversion header p {color:#f2f2f2; }
	#conversion section {background:#dddddd;}
	#conversion form input,
	#conversion form select,
	#conversion form textarea {border:1px solid #c3c3c3;}
	#conversion form label {color:#333333; }
	#conversion form #error-container {border:1px solid #c3c3c3;}
	#conversion div.actions input.call_button,
	#conversion div.actions a.call_button {border:1px solid #cb8700;text-shadow: 1px 1px 2px #7f3b00;color:#f2f2f2;background:#e5a117;}
	#conversion div.actions input.call_button:hover,
	#conversion div.actions a.call_button:hover {background:#feba30;}
	#conversion section div#pay-area p {color:#333333; }
	#conversion section form p.notice {color:#333333;}

	/*box shadow*/
	#container > section {
	-webkit-box-shadow: inset 0px 4px 8px #d4d4d4;
	-moz-box-shadow: inset 0px 4px 8px #d4d4d4;
	box-shadow: inset 0px 4px 8px #d4d4d4;
	}
	#conversion {
	-webkit-box-shadow: 4px 4px 8px #bbbbbb;
	-moz-box-shadow: 4px 4px 8px #bbbbbb;
	box-shadow: 4px 4px 8px #bbbbbb;
	}
	#conversion form input,
	#conversion form select,
	#conversion form textarea,
	#conversion form #error-container {
	-webkit-box-shadow: inset 1px 1px 2px rgba(20,20,20,0.4);
	-moz-box-shadow: inset 1px 1px 2px rgba(20,20,20,0.4);
	box-shadow: inset 1px 1px 2px rgba(20,20,20,0.4);
	}
	#conversion div.actions input.call_button,
	#conversion div.actions a.call_button {
	-webkit-box-shadow: 2px 2px 4px #c3c3c3;
	-moz-box-shadow: 2px 2px 4px #c3c3c3;
	box-shadow: 2px 2px 4px #c3c3c3;
	}
	#conversion div.actions input.call_button:hover,
	#conversion div.actions a.call_button:hover {
	-webkit-box-shadow: 2px 2px 8px #777777;
	-moz-box-shadow: 2px 2px 8px #777777;
	box-shadow: 2px 2px 8px #777777;
	}

</style>

<meta property="og:title" content="Título da Sua Oferta" />
<meta property="og:image" content="https://rdstation-static.s3.amazonaws.com/images/landing_page/4797/offer-logo.png" />
<meta property="fb:admins" content="159732357452275" />

</head>
<body>

<div id="container">
	<header>
		<div class="wrapper">
			<figure>
				<%= image_tag 'company-logo.jpg' %>
			</figure>
			<hgroup>
				<h1>Título da Sua Oferta</h1>
				<h2>Prenda a atenção do visitante em poucas palavras</h2>
			</hgroup>
		</div>
	</header>
	
	<section class="clearfix">
		<div class="wrapper">
			<div id="content" class="left">
				<figure>
					<%= image_tag 'offer-logo.png' %>
				</figure>
				<ul>
					<li>
						<h3>Um ponto muito relevante</h3>
						<p>Este é o primeiro e principal destaque que descreve os benefícios da sua oferta.</p>
					</li>
					<li>
						<h3>Outro ponto relevante</h3>
						<p>Este é o segundo melhor destaque que descreve os benefícios da sua oferta.</p>
					</li>
					<li>
						<h3>Terceiro ponto importante</h3>
						<p>Este é o terceiro melhor destaque que descreve os benefícios da sua oferta.</p>
					</li>
					<li>
						<h3>Quarto ponto importante</h3>
						<p>Também é possível deixar alguns campos em branco se preferir.</p>
					</li>
				</ul>
			</div>
			
			<div id="conversion" class="right">
				<header>
					<h2>Faça o download grátis aqui!</h2>
					<p>Basta preencher o formulário abaixo</p>
				</header>
				
				<section>
					<form id="conversion-form" action="/blank" method="POST" >
						<input type="hidden" name="token_rdstation" value="f673c9314b3540bc10a4f6d4ee17d160" />
						<input type="hidden" name="identificador" value="responsive-design" />
						<input type="hidden" name="redirect_to" value="http://oxys.com.br" />
						<input type="hidden" name="c_utmz" value="" />

						<div id="error-container">
							<p>Preencha corretamente os campos marcados</p>
						</div>

						<div class="field">
						<label for="Nome:_">Nome:*</label><input class="required" id="nome" name="nome" type="text" />
						</div>
						<div class="field">
						<label for="Email:_">Email:*</label><input class="required email" id="email_lead" name="email_lead" type="text" />
						</div>
						<div class="field">
						<label for="Empresa:_">Empresa:*</label><input class="required" id="empresa" name="empresa" type="text" />
						</div>
						<div class="field">
						<label for="Cargo:_">Cargo:*</label><input class="required" id="cargo" name="cargo" type="text" />
						</div>
						<div class="field">
						<label for="DDD___Telefone:_">DDD + Telefone:*</label><input class="required phone" id="ddd-telefone" name="ddd-telefone" placeholder="(   )" type="text" />
						</div>
						<div class="field">
						<label for="Estado:_">Estado:*</label><select class="required" id="estado_" name="estado"><option value=""></option>
						<option value="Acre">Acre</option>
						<option value="Alagoas">Alagoas</option>
						<option value="Amapá">Amapá</option>
						<option value="Amazonas">Amazonas</option>
						<option value="Bahia">Bahia</option>
						<option value="Ceará">Ceará</option>
						<option value="Distrito Federal">Distrito Federal</option>
						<option value="Espírito Santo">Espírito Santo</option>
						<option value="Goiás">Goiás</option>
						<option value="Maranhão">Maranhão</option>
						<option value="Mato Grosso">Mato Grosso</option>
						<option value="Mato Grosso do Sul">Mato Grosso do Sul</option>
						<option value="Minas Gerais">Minas Gerais</option>
						<option value="Pará">Pará</option>
						<option value="Paraíba">Paraíba</option>
						<option value="Paraná">Paraná</option>
						<option value="Pernambuco">Pernambuco</option>
						<option value="Piauí">Piauí</option>
						<option value="Rio de Janeiro">Rio de Janeiro</option>
						<option value="Rio Grande do Norte">Rio Grande do Norte</option>
						<option value="Rio Grande do Sul">Rio Grande do Sul</option>
						<option value="Rondônia">Rondônia</option>
						<option value="Rorâima">Rorâima</option>
						<option value="Santa Catarina">Santa Catarina</option>
						<option value="São Paulo">São Paulo</option>
						<option value="Sergipe">Sergipe</option>
						<option value="Tocantins">Tocantins</option></select>
						</div>
						<div class="field">
						<input type="hidden" name="email_opt_in" value="0"><input id="opt-in-email" type="checkbox" name="email_opt_in" value="1" checked><label data-original="Opt-in email" for="opt-in-email">Gostaria de receber emails promocionais da empresa</label>
						</div>
						<div class="field">
						<label for="_rea_de_texto:">Área de texto:</label><textarea name="area-de-texto">
						</textarea>
						</div>
						<div class="field">
							<label for="Grupo_de_escolha:">Grupo de escolha:</label>
							<div>
								<input id="grupo-de-escolha__opo_1" name="grupo-de-escolha" type="radio" value="Opção 1" />
								<label>Opção 1</label>
							</div>
							<div>
								<input id="grupo-de-escolha__opo_2" name="grupo-de-escolha" type="radio" value="Opção 2" />
								<label>Opção 2</label>
							</div>
							<div>
								<input id="grupo-de-escolha__opo_3_opo_3_opo_3_opo_3_opo_3_opo_3_opo_3" name="grupo-de-escolha" type="radio" value="Opção 3 Opção 3 Opção 3 Opção 3 Opção 3 Opção 3 Opção 3" />
								<label>Opção 3 Opção 3 Opção 3 Opção 3 Opção 3 Opção 3 Opção 3</label>
							</div>
							<div>
								<input id="grupo-de-escolha__opo_1" name="grupo-de-escolha" type="radio" value="Opção 1" />
								<label>Opção 1</label>
							</div>
							<div>
								<input id="grupo-de-escolha__opo_2" name="grupo-de-escolha" type="radio" value="Opção 2" />
								<label>Opção 2 Opção 2 Opção 2 Opção 2 Opção 2 Opção 2 Opção 2 Opção 2 Opção 2 Opção 2 Opção 2 Opção 2 Opção 2 Opção 2 Opção 2 Opção 2 Opção 2 Opção 2 Opção 2 Opção 2 Opção 2 Opção 2 Opção 2 Opção 2 Opção 2 Opção 2 Opção 2 Opção 2 Opção 2 Opção 2 Opção 2 Opção 2</label>
							</div>
							<div>
								<input id="grupo-de-escolha__opo_3_opo_3_opo_3_opo_3_opo_3_opo_3_opo_3" name="grupo-de-escolha" type="radio" value="Opção 3 Opção 3 Opção 3 Opção 3 Opção 3 Opção 3 Opção 3" />
								<label>Opção 3 Opção 3 Opção 3 Opção 3 Opção 3 Opção 3 Opção 3</label>
							</div>
						</div>

						<div class="field">
						<label><span id="math_expression">3 + 7 = ?</span></label>
						<input type="text" name="captcha" class="math" />
						</div>

						<div class="actions">
						<input type="submit" class="call_button" id="cf_submit" value="Receber material" />
						<img src="//rdstation-static.s3.amazonaws.com/images/ajax-loader.gif" id="ajax-loader" alt="Enviando..." />
						</div>
						<p class="notice">Prometemos não utilizar suas informações de contato para enviar qualquer tipo de SPAM.</p>
					
					</form>

					<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
					<script type="text/javascript" src="//rdstation-static.s3.amazonaws.com/js/jquery.validate/1.9/jquery.validate.min.js"></script>
					<script type="text/javascript" src="//rdstation-static.s3.amazonaws.com/js/jquery.form/2.02/jquery.form.js"></script>
					<script type="text/javascript" src="//rdstation-static.s3.amazonaws.com/js/rd/1.4/rdlps.min.js"></script>
					<script type="text/javascript">
					var origConversionSuccess = conversionSuccess;
					conversionSuccess = function(resp) {
					origConversionSuccess(resp);
					alert("Obrigado.");
					location.href = 'http://oxys.com.br';
					}
					</script>
					<script type="text/javascript" src="//rdstation-static.s3.amazonaws.com/js/rd/1.2/rdlps-autofill.min.js"></script>

				</section>
			</div>

			<div id="social-share" class="socialfloating">
				<a href="http://twitter.com/share" class="twitter-share-button" data-url="" data-count="vertical" data-via="oxysixd">Tweet</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
				<br />
				<div class="g-plusone" data-size="tall" data-href=""></div>
				<br />
				<div class="fb-like" data-send="false" data-href="" data-layout="box_count" data-width="55" data-show-faces="false"></div>
				<br />
				<script src="//platform.linkedin.com/in.js" type="text/javascript">
				lang: en_US
				</script>
				<script type="IN/Share" data-counter="top"></script><br />
			</div>

			<div id="fb-root"></div>
			<script>(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=159732357452275";
			fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));</script>
			<script type="text/javascript">
			(function() {
			var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
			po.src = 'https://apis.google.com/js/plusone.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
			})();
			</script>
		</div>
	</section>
</div>

<script type="text/javascript">
if (!NREUMQ.f) { NREUMQ.f=function() {
NREUMQ.push(["load",new Date().getTime()]);
var e=document.createElement("script");
e.type="text/javascript";
e.src=(("http:"===document.location.protocol)?"http:":"https:") + "//" +
"js-agent.newrelic.com/nr-100.js";
document.body.appendChild(e);
if(NREUMQ.a)NREUMQ.a();
};
NREUMQ.a=window.onload;window.onload=NREUMQ.f;
};
NREUMQ.push(["nrfj","beacon-1.newrelic.com","98debe0088","883714","dF9ZQ0oJWlhRR00JA1lUXllfOUZVU1BNFRBSRl5ST0lGRlFDCwAV",26,280,new Date().getTime(),"","","","",""]);
</script>

<script type="text/javascript">
/*! matchMedia() polyfill - Test a CSS media type/query in JS. Authors & copyright (c) 2012: Scott Jehl, Paul Irish, Nicholas Zakas. Dual MIT/BSD license */
/*! NOTE: If you're already including a window.matchMedia polyfill via Modernizr or otherwise, you don't need this part */
window.matchMedia=window.matchMedia||function(a){"use strict";var c,d=a.documentElement,e=d.firstElementChild||d.firstChild,f=a.createElement("body"),g=a.createElement("div");return g.id="mq-test-1",g.style.cssText="position:absolute;top:-100em",f.style.background="none",f.appendChild(g),function(a){return g.innerHTML='&shy;<style media="'+a+'"> #mq-test-1 { width: 42px; }</style>',d.insertBefore(f,e),c=42===g.offsetWidth,d.removeChild(f),{matches:c,media:a}}}(document);

/*! Respond.js v1.3.0: min/max-width media query polyfill. (c) Scott Jehl. MIT/GPLv2 Lic. j.mp/respondjs  */
(function(a){"use strict";function x(){u(!0)}var b={};if(a.respond=b,b.update=function(){},b.mediaQueriesSupported=a.matchMedia&&a.matchMedia("only all").matches,!b.mediaQueriesSupported){var q,r,t,c=a.document,d=c.documentElement,e=[],f=[],g=[],h={},i=30,j=c.getElementsByTagName("head")[0]||d,k=c.getElementsByTagName("base")[0],l=j.getElementsByTagName("link"),m=[],n=function(){for(var b=0;l.length>b;b++){var c=l[b],d=c.href,e=c.media,f=c.rel&&"stylesheet"===c.rel.toLowerCase();d&&f&&!h[d]&&(c.styleSheet&&c.styleSheet.rawCssText?(p(c.styleSheet.rawCssText,d,e),h[d]=!0):(!/^([a-zA-Z:]*\/\/)/.test(d)&&!k||d.replace(RegExp.$1,"").split("/")[0]===a.location.host)&&m.push({href:d,media:e}))}o()},o=function(){if(m.length){var b=m.shift();v(b.href,function(c){p(c,b.href,b.media),h[b.href]=!0,a.setTimeout(function(){o()},0)})}},p=function(a,b,c){var d=a.match(/@media[^\{]+\{([^\{\}]*\{[^\}\{]*\})+/gi),g=d&&d.length||0;b=b.substring(0,b.lastIndexOf("/"));var h=function(a){return a.replace(/(url\()['"]?([^\/\)'"][^:\)'"]+)['"]?(\))/g,"$1"+b+"$2$3")},i=!g&&c;b.length&&(b+="/"),i&&(g=1);for(var j=0;g>j;j++){var k,l,m,n;i?(k=c,f.push(h(a))):(k=d[j].match(/@media *([^\{]+)\{([\S\s]+?)$/)&&RegExp.$1,f.push(RegExp.$2&&h(RegExp.$2))),m=k.split(","),n=m.length;for(var o=0;n>o;o++)l=m[o],e.push({media:l.split("(")[0].match(/(only\s+)?([a-zA-Z]+)\s?/)&&RegExp.$2||"all",rules:f.length-1,hasquery:l.indexOf("(")>-1,minw:l.match(/\(\s*min\-width\s*:\s*(\s*[0-9\.]+)(px|em)\s*\)/)&&parseFloat(RegExp.$1)+(RegExp.$2||""),maxw:l.match(/\(\s*max\-width\s*:\s*(\s*[0-9\.]+)(px|em)\s*\)/)&&parseFloat(RegExp.$1)+(RegExp.$2||"")})}u()},s=function(){var a,b=c.createElement("div"),e=c.body,f=!1;return b.style.cssText="position:absolute;font-size:1em;width:1em",e||(e=f=c.createElement("body"),e.style.background="none"),e.appendChild(b),d.insertBefore(e,d.firstChild),a=b.offsetWidth,f?d.removeChild(e):e.removeChild(b),a=t=parseFloat(a)},u=function(b){var h="clientWidth",k=d[h],m="CSS1Compat"===c.compatMode&&k||c.body[h]||k,n={},o=l[l.length-1],p=(new Date).getTime();if(b&&q&&i>p-q)return a.clearTimeout(r),r=a.setTimeout(u,i),void 0;q=p;for(var v in e)if(e.hasOwnProperty(v)){var w=e[v],x=w.minw,y=w.maxw,z=null===x,A=null===y,B="em";x&&(x=parseFloat(x)*(x.indexOf(B)>-1?t||s():1)),y&&(y=parseFloat(y)*(y.indexOf(B)>-1?t||s():1)),w.hasquery&&(z&&A||!(z||m>=x)||!(A||y>=m))||(n[w.media]||(n[w.media]=[]),n[w.media].push(f[w.rules]))}for(var C in g)g.hasOwnProperty(C)&&g[C]&&g[C].parentNode===j&&j.removeChild(g[C]);for(var D in n)if(n.hasOwnProperty(D)){var E=c.createElement("style"),F=n[D].join("\n");E.type="text/css",E.media=D,j.insertBefore(E,o.nextSibling),E.styleSheet?E.styleSheet.cssText=F:E.appendChild(c.createTextNode(F)),g.push(E)}},v=function(a,b){var c=w();c&&(c.open("GET",a,!0),c.onreadystatechange=function(){4!==c.readyState||200!==c.status&&304!==c.status||b(c.responseText)},4!==c.readyState&&c.send(null))},w=function(){var b=!1;try{b=new a.XMLHttpRequest}catch(c){b=new a.ActiveXObject("Microsoft.XMLHTTP")}return function(){return b}}();n(),b.update=n,a.addEventListener?a.addEventListener("resize",x,!1):a.attachEvent&&a.attachEvent("onresize",x)}})(this);
</script>

</body>
</html>
