<div class="jumbotron">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>oxys</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h2>interaction design consultancy</h2>
				<p class="lead">working to get great results</p>
			</div>
			<div class="col-md-4">
				<p></p>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<footer>
		<p>&copy; Oxys Interaction Design Consultancy 2014</p>
	</footer>
</div>