<footer id="footer">
	<p class="text-center">
		&copy; Oxys Interaction Design Consultancy 2014 |
		<a title="Facebook Oxys Interaction Design" href="http://www.facebook.com/OxysDesign" rel="publisher">Facebook OxysDesign</a>
		<a title="Twitter Oxys Interaction Design" href="http://twitter.com/oxysdesign" rel="publisher">Twitter @OxysDesign</a> |
		<a title="Google Plus Oxys Interaction Design" href="http://plus.google.com/+OxysCo" rel="publisher">Google+ OxysCo</a> |
		<a title="Linkedin Oxys Interaction Design" href="http://linkedin.com/company/3643408" rel="publisher">Linkedin Oxys Design</a>
	</p>
</footer>
<%= javascript_include_tag "application" %>
<%= javascript_include_tag "modernizr-2.6.2-respond-1.1.0.min" %>
