<footer id="footer">
	<p class="text-center">&copy; Oxys Interaction Design Consultancy 2014 | <a href="https://plus.google.com/110964482000886042736" rel="publisher">Google+</a></p>
</footer>
<%= javascript_include_tag "application" %>
<%= javascript_include_tag "modernizr-2.6.2-respond-1.1.0.min" %>
